doctype html
html(ng-app='dockerApp')
  head
    title= title
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller='AppCtrl')
    block content

    script(src='components/jquery/dist/jquery.min.js')
    script(src='components/angular/angular.min.js')
    script(src='components/angular-route/angular-route.min.js')
    script(src='components/angular-resource/angular-resource.min.js')
    script(src='javascripts/app.js')
    script(src='javascripts/controllers.js')
    script(src='javascripts/services.js')
    script(src='/socket.io/socket.io.js')
    script(src='components/angular-socket-io/socket.min.js')
    script(src='javascripts/libs/socket.io-stream.js')